.navbar-crest {
  float: left;
  height: 40px;
  margin-right: 0.2em;
}

.message {
  margin: 0.5em auto;
  padding: 0.5em 1em;
  background-color: #eee;
  border: 1px solid black;
  border-radius: 5px;
}

.message .header {
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.message .header img {
  height: 35px;
  width: 35px;
  border-radius: 100%;
}

.message .header p:nth-child(2) {
  font-weight: bold;
}

.message .header p b {
  color: orangered;
}

.message .header p b.blue {
  color: blue;
}

.message .header span:not(.report) {
  padding: 3px 8px;
  background-color: #ffa500;
  border-radius: 5px;
  border: 1px solid #ee8500;
  font-weight: bold;
  color: #451200;
  text-align: center;
}

.message .header span.report {
  color: red;
  cursor: pointer;
  margin-right: 1em;
}

@media only screen and (max-width: 600px) {
  .message .header span {
    display: none;
  }
}

main {
  margin-top: 56px;
}

main a {
  text-decoration: none;
  padding: 1.5em;
  display: flex;
  align-items: center;
  gap: 0.8em;
}

main a:hover *:not(i) {
  text-decoration: underline;
}

main a i {
  margin-bottom: 1px;
}

main div {
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  padding: 0 4em;
  gap: 2em;
}

main aside {
  min-width: 30vw;
  background-color: #eee;
  padding: 1em;
  border-radius: 10px;
}

main aside .aside-crest {
  width: 100%;
  display: grid;
  place-content: center;
}

main aside img {
  height: 15em;
}

main aside h1 {
  font-size: 1em;
  text-align: center;
  margin-bottom: 1em;
}

main aside h1 span {
  font-size: 1.8em;
}

main aside .company-name {
  font-style: italic;
  color: blueviolet;
  display: block;
}

main aside .clan {
  font-weight: bold;
  color: goldenrod;
  display: block;
}

main aside h2 {
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 3em;
}

main section pre {
  white-space: normal;
}

main aside button {
  cursor: pointer;
  background-color: #ddd;
  border-radius: 3px;
}

main aside button:hover {
  background-color: #eee;
}

@media only screen and (max-width: 600px) {
  main div {
    flex-direction: column;
  }
}

div.invalid {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  flex-direction: column;
  min-height: calc(100vh - 80px);
  text-align: center;
}

div.invalid img {
  max-width: 60em;
  width: 40vw;
}

div.invalid h1 {
  font-weight: bold;
  color: red;
}

div.invalid p {
  margin: 0;
  max-width: 70em;
  font-size: 1.2em;
}
